@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  overflow-x: hidden;
  color: #FFF;
  background-color: #000;
  font-size: 16px;
  font-family: var(--font-family);
}

a {
  width: fit-content;
}

button {
  cursor: pointer;
  width: fit-content;
  height: 3rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1.5rem;
  color: #FFF;
  background-color: #e47a1b;
  font-size: 1.5rem;
  font-weight: 500;
}
button span {
  position: relative;
}
button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #FFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
button:hover span::after {
  transform: scaleX(1);
}

hr {
  margin: 0 5%;
  border: none;
  border-top: 1px solid rgba(228, 122, 27, 0.5);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

ul {
  list-style: none;
}
ul li {
  margin-top: 1rem;
}

section {
  min-height: 100vh;
}
section#illustration-panel {
  height: 100vh;
  background-position: 20% 80%;
  background-repeat: no-repeat;
  background-size: 170% auto;
  background-image: url("/assets/images/illustration-panel.png");
}
section#illustration-panel .info-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
section#illustration-panel .info-wrapper h3 {
  text-wrap: balance;
}
section .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 4rem 10%;
}
section .wrapper * {
  z-index: 1100;
}
section .wrapper.first-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30%;
  height: 80vw;
  aspect-ratio: 1/1;
  background: radial-gradient(45.7% 50.03% at 108.99% 55.63%, #874D19 0%, transparent 100%);
}
section .wrapper.second-wrapper {
  padding: 4rem 20%;
}
section .wrapper.second-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  transform: scaleX(-1);
  height: 60vw;
  aspect-ratio: 1/1;
  background: radial-gradient(54.03% 55.47% at 121.86% 55.43%, #874D19 1.22%, transparent 100%);
}
section .wrapper.fourth-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -70%;
  height: 80vw;
  aspect-ratio: 1/1;
  background: radial-gradient(45.7% 50.03% at 108.99% 55.63%, #874D19 0%, transparent 100%);
}
section:nth-of-type(5), section:nth-of-type(6) {
  min-height: unset;
}

.card {
  height: 100%;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.card.brand-card {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.card.brand-card .brand-card-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.brand-card .brand-card-header.ectare img {
  width: 70%;
}
.card.brand-card .brand-card-header.sette img {
  width: 60%;
}
.card.brand-card .brand-card-header.tag img {
  height: 100%;
}
.card.product-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.card.product-card .product-card-header {
  height: 3.5rem;
}
.card.product-card .product-card-header img {
  height: 100%;
}
.card.product-card h3 {
  font-weight: 700;
}
.card.product-card:last-child h4 {
  text-wrap: balance;
}
.card.fiagro-card {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
}
.card.fiagro-card h2 {
  font-weight: 700;
}

.first-card {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2.5rem;
}
.first-card .first-card-image {
  transform: scaleX(-1);
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-position: 38% 0%;
  background-repeat: no-repeat;
  background-size: auto 123%;
  background-image: url("/assets/images/first-card-image.jpg");
}
.first-card .first-card-info {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 2rem;
  text-align: end;
  text-wrap: balance;
}
.first-card .first-card-info h1 {
  font-weight: 700;
  color: #e47a1b;
}

.info-item,
.brand-item {
  display: grid;
  gap: 3rem;
  align-items: center;
  padding: 2rem 0;
}
.info-item:not(:first-child),
.brand-item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.info-item:nth-child(odd),
.brand-item:nth-child(odd) {
  grid-template-columns: 1fr 3fr;
}
.info-item:nth-child(even),
.brand-item:nth-child(even) {
  grid-template-columns: 3fr 1fr;
}
.info-item img,
.brand-item img {
  width: 100%;
}
.info-item .brand-item-text,
.brand-item .brand-item-text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.info-item .brand-item-text:nth-child(even) h4,
.brand-item .brand-item-text:nth-child(even) h4 {
  text-align: right;
}

.info-item h3:nth-child(even) {
  text-align: right;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  body {
    overflow-x: hidden;
  }
  hr {
    margin: 0 20%;
    border-top: 1px solid rgba(228, 122, 27, 0.5);
  }
  section {
    min-height: 100dvh;
  }
  section#illustration-panel {
    height: 100dvh;
    background-position: 40% 50%;
    background-size: auto 150%;
  }
  section .wrapper {
    gap: 2rem;
    padding: 2rem 10% !important;
  }
  section .wrapper.first-wrapper::before {
    height: unset;
    width: 100dvw;
    bottom: -10%;
  }
  section .wrapper.second-wrapper::before {
    height: unset;
    width: 100dvw;
    bottom: 10%;
  }
  section .wrapper.fourth-wrapper::before {
    height: unset;
    width: 100dvw;
    bottom: -35%;
  }
  .card.product-card {
    gap: 2em;
    flex-direction: row;
  }
  .first-card {
    overflow: hidden;
    grid-template-columns: 100%;
  }
  .first-card .first-card-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0;
    background-position: 60% 0%;
  }
  .first-card .first-card-info {
    text-align: start;
  }
  .info-item,
  .brand-item {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }
  .info-item:nth-child(even),
  .brand-item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .info-item h3,
  .info-item h4,
  .brand-item h3,
  .brand-item h4 {
    text-align: center !important;
  }
  .brand-item img {
    width: unset;
  }
  .brand-item:nth-child(1) img {
    height: 2rem;
  }
  .brand-item:nth-child(2) img {
    height: 3.5rem;
  }
  .brand-item:nth-child(3) img {
    height: 3rem;
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}